<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Карбоновые чехлы | CarbonED
        link(rel="stylesheet", href="styles.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
        meta(name="description" content="Купить Карбоновые чехлы для iphone. Доставка по всей России.")
        meta(name="yandex-verification" content="81d19a607fef726e")
        meta(name="google-site-verification" content="dXkwthwQqU0WIhh9VyPuydPuSMmyAJmAcj9A28O0KhE")
               
    body
        div.height-wrapper
            div.content
                include modules/header
                include modules/main
            include modules/footer
            include modules/svg-sprite

        script(src="https://unpkg.com/swiper/js/swiper.min.js")
        script(src="script.js") 
        