img.logo(src="/img/logo.png")
div.wrapper
    section.main-section 
        h1.text-h1.text Forged Carbon Case для iPhone
        ul.items-list
            li.item
                    p.item-header Xs 
                    div.item-content                 
                        img.item-image(src="img/x-header.jpg")
                        div.item-links
                            a.item-question.item-question--what(href="") Что это такое
                            a.item-question.item-question--more(href="") Больше фото
                            a.item-question.item-question--order(href="") Заказать
            li.item
                p.item-header Xs Max 
                div.item-content               
                    img.item-image(src="img/xmax-header.jpg")
                    div.item-links
                        a.item-question.item-question--what(href="") Что это такое
                        a.item-question.item-question--more(href="") Больше фото
                        a.item-question.item-question--order(href="") Заказать
        h1.h1-text Forged Carbon Case - Это
            
