img.logo(src="/img/logo.png")
div.wrapper
    ul.items-list
        li.item
                p.item-header Xs 
                div.item-content                 
                    img.item-image(src="img/x-header.jpg")
                    div.item-links
                        a.item-question(href="") Что это такое
                        a.item-question(href="") Больше фото
                        a.item-question(href="") Заказать
        li.item
            p.item-header Xs Max 
            div.item-content               
                img.item-image(src="img/xmax-header.jpg")
                div.item-links
                    a.item-question(href="") Что это такое
                    a.item-question(href="") Больше фото
                    a.item-question(href="") Заказать
        
