img.logo(src="/img/logo.png")
div.wrapper
    section.main-section 
        h1.text-h1.text Карбоновый чехол для iPhone
        ul.items-list
            li.item
                    p.item-header Xs 
                    div.item-content                 
                        img.item-image(src="img/x-header.jpg")
                        div.item-links
                            a.item-question.item-question--what(href="") Что это такое
                            a.item-question.item-question--more(href="") Больше фото
                            a.item-question.item-question--order(href="") Заказать
            li.item
                p.item-header Xs Max 
                div.item-content               
                    img.item-image(src="img/xmax-header.jpg")
                    div.item-links
                        a.item-question.item-question--what(href="") Что это такое
                        a.item-question.item-question--more(href="") Больше фото
                        a.item-question.item-question--order(href="") Заказать
    
    section.main-section(id="about")
        h2.text-h1.text Forged Carbon Case - Это 
        p.text.text--standart.text--center Первыми, кто изобрел этот материал, были Lamborghini. 
         a.main__link(href="https://www.lamborghini.com/ru-en/о-lamborghini/инновация-и-превосходство/forged-composites") Цитата 
         | с официального сайта:
        blockquote.main-quote 
            h3.text-h3.text.main-quote__header МАТЕРИАЛ БУДУЩЕГО
            p.text.text--standart Передовой композитный материал — кованый композит Forged Composites® — непрерывно совершенствуется с 2008 года.
            p.text.text--standart Материал Forged Composites® является результатом более чем 30-летних исследований, проводимых компанией Lamborghini во всем мире.
            p.text.text--standart Эти исследования придали мощный импульс технологическим разработкам в области композитных материалов, подняв их до прежде недостижимого уровня.
            p.text.text--standart Рекордные характеристики и оригинальный внешний вид произвели настоящую революцию на фоне всех предшествующих материалов и технологий: 
                | эпоха кованых композитов Forged Composites® начала свой отсчет.
        p.text.text--standart.text--center Мы знаем, что Lamborginin умеют делать вещи. 
        p.text.text--standart.text--center А Forged Carbon - это тот же самый карбон, но только с новым, необычным дизайном.
        h2.text-h1.text Приемущества карбонового чехла
        ul.main-lambo-list
            li.main-lambo-list__item 
                .lambo-back    
                img(src="img/blue-lamba.jpg")
                p.text.lamba-text Премиальный и необычный   
                p.text.lamba-text.lamba-text--second 
                    | Необычный вид превосходного композитного материала на вашем iPhone, выделит Вас и ваш гаджет среди всех.              
            li.main-lambo-list__item
                .lambo-back  
                img(src="img/lamborghini-carbon.jpg")
                p.text.lamba-text Сверхлегкий и прочный
                p.text.lamba-text.lamba-text--second 
                    | Такой легкий и прочный, что многие части суперкаров сделаны из него
            li.main-lambo-list__item
                .lambo-back  
                img(src="img/lamba-carbon-spoiler.jpg")
                p.text.lamba-text Материал будущего
                p.text.lamba-text.lamba-text--second 
                    | Карбон уже почти везде заменил другие композиты, в обозримом будующем он станет королем композитов
            li.main-lambo-list__item
                .lambo-back  
                img(src="img/lamba-red.jpg")
                p.text.lamba-text Создан Lamborgini специально для вас
                p.text.lamba-text.lamba-text--second 
                    | Lamborgini создали уникальный материал для своих боллидов, теперь он сможет быть и на вашем iPhone  
        
        h2.text-h1.text Характеристики Forged Carbon чехла
