.items-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.item {
    width: 48%;

    &:hover .item-content {
        transform: scale(1.1);
    }

    &:hover .item-header {
        opacity: 0;
    }

    &:hover .item-links {
        opacity: 1;
    }

    &:hover .item-image {
        -webkit-clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
        clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 0% 0%);
    }
}

.item-content {
    transition: 0.4s all;
    position: relative;
}

.item-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    vertical-align: bottom;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transition: clip-path 0.5s;
}

.item-header {
    font-family: $font-primary;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    transition: 0.4s all;
    color: $carbon;
}

.item-links {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.item-question {
    display: block;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white-color;
    text-decoration: none;
    font-family: $font-primary;
    max-width: 150px;
    width: 100%;
    padding: 15px;
    border: 2px solid $white-color;
    text-align: center;
    margin-bottom: 30px;
    background-color: $black-color;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: $black-color;
        background-color: $white-color;
        border: 2px solid $black-color;
    }
}